<%- include('../templates/mainPage.ejs') %>
    <div class="book-record-main-content record-main">
        <h1>BOOK RECORDS</h1>
        <%- include('../templates/recordLinks.ejs') %>

            <div class="book-record-filters">
                <form action="/record/book" method="post">
                    <div>
                        <input type="text" name="title" required>
                        <span>&nbsp;Title</span>
                    </div>
                    <div>
                        <input type="text" name="author" id="" required>
                        <span>&nbsp;Author Name</span>
                    </div>
                    <div>
                        <select id="" name='author_type' required>
                            <option value="" hidden></option>
                    <option value="Local Author">Local Author</option>
                    <option value="Foreign Author">Foreign Author</option>
                </select>
                        <span>&nbsp;Author Type</span>
                    </div>
                    <div>
                        <input type="text" name="publisher" id="" required>
                        <span>&nbsp;publisher</span>
                    </div>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="book-recod-details">
                <table>
                    <thead>
                        <tr>
                            <th>Book ID</th>
                            <th>Title</th>
                            <th>Author Type</th>
                            <th>Author</th>
                            <th>Publisher</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(var i=0; i < books.length; i++) { %>
                            <tr>
                                <td>
                                    <%= books[i].book_id %>
                                </td>
                                <td>
                                    <%= books[i].title %>
                                </td>
                                <td>
                                    <%= books[i].author_type %>
                                </td>
                                <td>
                                    <%= books[i].author %>
                                </td>
                                <td>
                                    <%= books[i].publisher %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
    </div>


    <!--Template Ending-->
    </div>
    </div>
    <script src="/js/time.js"></script>
    <script src="/js/RecActive.js"></script>
    </body>

    </html>