<%- include('../templates/mainPage.ejs') %>
    <div class="book-record-main-content record-main">
        <h1>BOOK RECORDS</h1>
        <%- include('../templates/recordLinks.ejs') %>

            <div class="book-record-filters">
                <form autocomplete="off" action="/record/books" method="post">
                    <div>
                        <input type="text" name="title">
                        <span>&nbsp;Title</span>
                    </div>
                    <div>
                        <input type="text" name="author" id="">
                        <span>&nbsp;Author Name</span>
                    </div>
                    <div>
                        <select id="" name='author_type'>
                            <option value="" hidden></option>
                    <option value="Local">Local Author</option>
                    <option value="Foreign">Foreign Author</option>
                </select>
                        <span>&nbsp;Author Type</span>
                    </div>
                    <div>
                        <input type="text" name="publisher" id="">
                        <span>&nbsp;publisher</span>
                    </div>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="book-recod-details">
                <table>
                    <thead>
                        <tr>
                            <th width='15%'>Book ID</th>
                            <th width='35%'>Title</th>
                            <th width='15%'>Author Type</th>
                            <th width='20%'>Author</th>
                            <th width='25%'>Publisher</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(var i=0; i < books.length; i++) { %>
                            <tr>
                                <td>
                                    <%= books[i].book_id %>
                                </td>
                                <td>
                                    <%= books[i].title %>
                                </td>
                                <td>
                                    <%= books[i].author_type %>
                                </td>
                                <td>
                                    <%= books[i].author %>
                                </td>
                                <td>
                                    <%= books[i].publisher %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <% if(books.length == 0) { %>
                    <p id='no-record-found-p'>No Record Found</p>
                <% } %>
            </div>
    </div>


    <!--Template Ending-->
    </div>
    </div>
    <script src="/js/time.js"></script>
    <script src="/js/RecActive.js"></script>
    </body>

    </html>