<%- include('../templates/mainPage.ejs') %>
    <div class="student-record-main-content record-main">
        <h1>STUDENTS RECORDS</h1>
        <%- include('../templates/recordLinks.ejs') %>

            <div class="student-record-filters">
                <form action="/record/student" method="post">
                    <div>
                        <span>Register Number</span>
                        <input type="text" name="search_roll_number">
                    </div>
                    <button type="submit">Search</button>
                </form>

            </div>
            <div class="student-recod-details">
                <table>
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Book ID</th>
                            <th>Book Name</th>
                            <th>Date Issued</th>
                            <th>Validatation Untill</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% for(var i=0; i < students.length; i++) { %>
                            <tr>
                              <td><%= students[i].roll_number %></td>
                              <td><%= students[i].book_id %></td>
                              <td><%= students[i].book_title %></td>
                              <td><%= students[i].date %></td>
                              <td><%= students[i].validation_date %></td>
                            </tr>
                         <% } %>
                    </tbody>
                </table>
            </div>
    </div>


    <!--Template Ending-->
    </div>
    </div>

    </body>

    </html>