<%- include('../templates/mainPage.ejs') %>
    <div class="student-record-main-content record-main">
        <h1>Book Status</h1>
        <%- include('../templates/recordLinks.ejs') %>

            <div class="who-what-record-filters">
                <form autocomplete="off" action="/record/who-has-what" method="post">
                    <div>
                        <input type="text" name="search_key" required>
                        <span>&nbsp;Book Title</span>
                    </div>
                    <button type="submit">Search</button>
                </form>

            </div>
            <div class="who-book-recod-details">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Batch</th>
                            <th>Book ID</th>
                            <th>Book Name</th>
                            <th>Date Issued</th>
                            <th>Validatation Untill</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(var i=0; i < match_books.length; i++) { %>
                            <tr>
                                <td>
                                    <%= match_books[i].roll_number %>
                                </td>
                                <td>
                                    <%= match_books[i].department %>
                                </td>
                                <td>
                                    <%= match_books[i].role %>
                                </td>
                                <td>
                                    <%= match_books[i].batch %>
                                </td>
                                <td>
                                    <%= match_books[i].book_id %>
                                </td>
                                <td>
                                    <%= match_books[i].book_title %>
                                </td>
                                <td>
                                    <%= match_books[i].date %>
                                </td>
                                <td>
                                    <%= match_books[i].validation_date %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <% if(match_books.length == 0) { %>
                    <p id='no-record-found-p'>No Record Found / Search For Detail</p>
                    <% } %>
            </div>
    </div>


    <!--Template Ending-->
    </div>
    </div>
    <script src="/js/time.js"></script>
    <script src="/js/RecActive.js"></script>
    </body>

    </html>